<!-- replacementPolicy.ejs -->
 <div class="relative w-[650px]">
<button class="toggle-btn flex items-center gap-2" data-toggle-id="payOnDeliveryInfo">
   
  <div class="flex flex-col items-center text-center">
    <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-cod._CB562506657_.png"
      class="w-10 h-10" />
   <span>Pay On Delivery</span>
  </div>
  <svg class="w-4 h-4 transform transition-transform" id="arrowIcon" fill="none" stroke="currentColor"
    viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
  </svg>
</button>
   
<div id="payOnDeliveryInfo" class="toggle-box absolute mt-4 bg-gray-100 p-4 rounded-md shadow-md text-sm hidden transition-all duration-300 w-[500px] ">
 <p class="font-bold text-xl">What is Pay on Delivery (Cash/Card)?</p>
<p>Pay on Delivery (Cash/Card) payment method includes Cash on Delivery (COD) as well as Debit card / Credit card / Net banking payments at your doorstep.
</p>
<a href="" class="flex items-center gap-2 text-blue-700 font-semibold hover:underline focus:outline-none">Learn More</a>
</div>
</div>